.flex-container-listings {
	position: relative;
	margin: 3.5rem;
	padding: 3rem;
	border-radius: 0.5rem;
	max-width: 100%;
	max-height: 75vh;
	word-wrap: break-word;
	overflow-y: auto;
	background-color: aliceblue;
	opacity: 0.9;

	h1 {
		font-weight: bolder;
		font-size: 3rem;
	}

	.content {
		padding: 2rem;

		button {
			margin: 1rem 0rem;
		}
	}
}
