.flex-container-about {
  position: relative; // or you can omit this for static positioning
  margin: 3.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: aliceblue;
  opacity: 0.9;

  h1 {
    font-weight: bolder;
    font-size: 5rem;
    margin: 1rem;
  }

  ul {
    margin-left: 5rem;
    text-indent: 2rem;
    font-size: 2rem;
  }
}
