@import '../../styles/shared.scss';

.container-listings {
  @extend .container-fixed;

  h1 {
    font-weight: bolder;
    font-size: 3rem;
  }

  .content {
    padding: 2rem;

    h3 {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
