.navbar {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262525;
  font-size: large;

  .logo {
    width: 20%;
    height: 20%;
  }

  .links {
    :hover {
      text-shadow: 0.5px 0.5px aliceblue;
    }
  }
}
